<mat-toolbar >
  <mat-toolbar-row class="header-info">
    <span>Inscrivez-vous à la newsletter SELLSI, accédez en avant première aux bons plans & nouveautés ! </span>
  </mat-toolbar-row>

  <mat-toolbar-row class="center-row">
    <div class="logo-container">
      <span class="logo">Sellsi</span>
    </div>
    <div class="first-level-menu">
      <span>Femme</span>
      <span>Homme</span>
      <span>Enfants</span>
    </div>
    <span class="example-spacer"></span>
    <div class="search-form-container">
      <mat-form-field class="search-form" >
        <input matInput
               placeholder="Rechercher un produit, une marque.....">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    <span class="example-spacer"></span>
    <div class="login-container">
      <button (click)="onButtonClick()" mat-icon-button> <img src="assets/user.png"> </button>
      <a (click)="onButtonClick()">Se connecter / S'inscrire</a>
    </div>
    <button (click)="onButtonClick()" mat-icon-button><img src="assets/favorite.png"></button>
    <button (click)="onButtonClick()" mat-icon-button><img src="assets/cart.png"></button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="header-menu-container" (mouseleave)="closeMenu()">
  <ng-container *ngFor="let tab of tabs; let i = index">
    <ul class="header-container" (mouseenter)="openMenu(i)">
      <li class="header-item-group" >
        <span class="header-name" [class.header-name-focused]="ishovered[i]"><a>{{tab}}</a></span>
        <div class="submenu-container" [class.submenu-container-shown]="ishovered[i]">
          <parfumes-menu (closeMenuEvent)="closeMenu()" ></parfumes-menu>
        </div>
      </li>
    </ul>
  </ng-container>
</div>

