<mat-toolbar>
  <mat-toolbar-row class="header-info">
    <span>Inscrivez-vous à la newsletter SELLSI, accédez en avant première aux bons plans & nouveautés ! </span>
  </mat-toolbar-row>

  <mat-toolbar-row class="center-row">
    <div class="logo-container">
      <span class="logo">S&#x039E;LLSI</span>
      <span class="sublogo">à ne pas rater</span>
    </div>
    <span class="example-spacer"></span>
    <div class="search-form-container">
      <mat-form-field class="search-form" >
        <input matInput
               placeholder="Rechercher un produit, une marque.....">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    <span class="example-spacer"></span>
    <div class="login-container">
      <button mat-icon-button> <img src="assets/user.png"> </button>
      <span>Se connecter</span>
    </div>
    <button mat-icon-button><img src="assets/favorite.png"></button>
    <button mat-icon-button><img src="assets/cart.png"></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group [selectedIndex]="activeTab" (focusChange)="onTabFocus($event)" (selectedTabChange)="onTabChange($event)" animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
  <mat-tab *ngFor="let tab of tabs; let i = index">
    <ng-template mat-tab-label >
      <h5 class="tab-span"
          (mouseover)="onTabHover(i)"
          [ngClass]="{'tab-span-hover': i === hoveredTabIndex}"
      >{{ tab }}</h5>
    </ng-template>
    <ng-template matTabContent>
      <div [ngClass]="{'submenu-on-hover': hoveredTabIndex === i}">
        <parfumes-menu></parfumes-menu>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

