.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding-left: 16px;
  background-color: white;
  height: 500px;
}

.item1 {
  grid-column: span 2;
}

.item2 {
  grid-column: span 1;
}

.item3 {
  grid-column: span 3;
}

.item-links-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.item-links{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 4px;
}

.withpadding{
  padding-left: 50px;
}

.item-links-best-seller {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  gap: 4px;
}

.categorie-container {
  display: flex;
  flex-direction: row;
}

.menu-label {
  font-weight: bold;
  font-size: 13px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 13px;
}
