<div class="grid-container" (mouseleave)="close()">
  <div class="item item1">
    <span class="menu-label">CATEGORIES DE PARFUMS</span>
    <div class="categorie-container">
      <div class="item-links">
        <a *ngFor="let tab of parfumesCat">
          {{tab}}
        </a>
      </div>
      <div class="item-links withpadding">
        <a *ngFor="let tab of parfumesType">
          {{tab}}
        </a>
      </div>
    </div>
  </div>
  <div class="item item2">
    <span class="menu-label">TOP MARQUES</span>
    <div class="item-links">
      <a *ngFor="let tab of topBrands">
        {{tab}}
      </a>
    </div>
  </div>
  <div class="item item3">
    <span class="menu-label">TOP VENTES</span>
    <div class="item-links-best-seller">
      <a *ngFor="let product of products" href="#">
        <submenu-product></submenu-product>
      </a>
    </div>
  </div>
</div>




