<footer class="footer-container">
  <div class="footer-row">
    <div class="footer-col footer-col-bigger">
      <h4>NEWSLETTER</h4>
      <h5>Sign up to our newsletter for inspiration, more behind the scenes & exclusive updates.</h5>
      <mat-form-field class="example-full-width">
        <mat-label>Enter Email here *</mat-label>
        <input floatLabel="never" matInput placeholder="SIGN UP" type="email">
      </mat-form-field>
      <mat-checkbox>I have read and understood the <strong>Privacy Policy </strong>.</mat-checkbox>
      <div class="line"></div>
      <h5 class="grey">©2023 SELLSI, All Rights Reserved.</h5>
    </div>
    <div class="footer-col">
      <h4>SELLSI</h4>
      <h5>About us</h5>
      <h5>Our brands</h5>
      <h5>Our values</h5>
    </div>
    <div class="footer-col">
      <h4>CUSTOMER SERVICE</h4>
      <h5>FAQ</h5>
      <h5>Contact us</h5>
      <h5>Deliveries</h5>
      <h5>Returns & Exchanges</h5>
      <div class="line"></div>
      <h5 class="grey">Terms and conditions</h5>

    </div>
    <div class="footer-col">
      <h4>SOCIALS</h4>
      <h5>Instagram</h5>
      <h5>Tiktok</h5>
      <h5>YouTube</h5>
      <div class="line"></div>
      <h5 class="grey">Privacy Policy</h5>
    </div>
  </div>

</footer>






