<div class="signup-page">
  <div class="main-container">
    <div class="form-container">
      <div class="main-text-container">
        <h1>VOTRE COMPTE</h1>
        <div>Créez votre compte sur Sellsi.com</div>
      </div>
      <div class="form-main-text">
        <h3>VOS INFORMATIONS</h3>
        <h3>(*) Les champs marqués d’un astérisque sont obligatoires.</h3>
      </div>
      <form>
        <div class="civility-container">
          <mat-form-field>
            <mat-label>Civilité</mat-label>
            <input matInput placeholder="pat@example.com">
          </mat-form-field>
        </div>
        <div class="fullname-container">
          <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom">
          </mat-form-field>
        </div>
        <div class="email-password-container">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput placeholder="Mot de passe">
          </mat-form-field>
        </div>
        <div class="phone-birthdate-container">
          <mat-form-field>
            <mat-label>Téléphone mobile</mat-label>
            <input matInput placeholder="Téléphone mobile">
          </mat-form-field>
          <mat-form-field>
            <mat-label>mm / dd / yyyy</mat-label>
            <input matInput placeholder="pat@example.com">
          </mat-form-field>
        </div>
        <div class="checkbox-container">
          <div> Découvrez en exclusivité les toutes dernières actualités Dior en vous abonnant à la newsletter </div>
          <mat-checkbox>Je souhaite recevoir des communications personnalisées de Parfums Christian Dior. J'autorise Parfums Christian Dior à traiter mes données personnelles afin de personnaliser la communication à mes centres d'intérêt. Pour plus d'informations et pour exercer vos droits, cliquez ici. </mat-checkbox>
          <mat-checkbox >J'ai lu la politique de confidentialité et je consens au traitement de mes données personnelles afin que mon compte soit créé. </mat-checkbox>
        </div>
        <div class="submit-button-container">
          <button mat-button>Créer un compte</button>
        </div>
      </form>
    </div>
  </div>
</div>
