/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif,Roboto; background-color: white }

.custom-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

